body {
    font-family: "Arial"
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

#status_indicator {
    width: 100%;
    text-align: center;
    font-size: 16px;
    border-radius: 25px;
}

.no_requests {
    background-color: lightgreen;
    border: 2px solid darkgreen;

}

.active_request {
    background-color: lightyellow;
    border: 2px solid orange;
}

.errored_request {
    background-color: lightcoral;
    border: 2px solid darkred;
}

table {
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
tr:nth-child(even){background-color: #f2f2f2;}
  
tr:hover {background-color: #ddd;}
  
th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

